@charset 'utf-8'; 
/* 한글 주석 입력시 깨짐 방지 */

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SUIT-Regular';
}

.ir {
    position: absolute;
    clip-path: inset(50%); /* 최신문법 clip-path : 네모그릴 때 쓰는 속성값이 inset 인데 50% 라고 해주면 top, right, left, bottom 모두 50% 씩 잘라버린다. 이렇게 다 잘라버리면 안보이게 된다. */
    width: 1px; /* 그래도 스크린리더가 읽긴 해야하니까 설정해주는 조건값 */
    height: 1px;
    overflow: hidden; /* 넘치는 부분은 숨겨줘라 */
}

.logo-img, 
.item-img {
    display: block;
    width: 100%;
}

.div-section-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 28px;
    margin-top: 40px;
    background: linear-gradient(white, rgb(228, 181, 136));
    padding-bottom: 70px;
}

#app .app-section-calculate,
#app .app-section-payment {
    flex-basis: 360px;
}

.btn-item:hover,
.btn-cancel:hover,
.btn-input-money:hover,
.btn-balance-return:hover,
.btn-payment-decision:hover,
.btn-open-modal:hover,
.btn-all-reset:hover,
.btn-close-modal:hover { 
    background-color: rgb(234, 238, 191);
}

.btn-item:active,
.btn-cancel:active {
    border-radius: 10px;
    outline: 3px solid rgb(233, 89, 89);
}

.btn-input-money:active,
.btn-balance-return:active,
.btn-payment-decision:active,
.btn-open-modal:active,
.btn-all-reset:active {
    border-radius: 5px;
    outline: 3px solid rgb(233, 89, 89);
}

.btn-item,
.btn-cancel {
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    width: 100%
}

.btn-input-money,
.btn-balance-return,
.btn-payment-decision,
.btn-open-modal,
.btn-all-reset {
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.amount-mymoney,
.amount-balance,
.amount-total {
    float: right;
}

/* .app-title 스타일링 ---------------------------------------- */

#app .app-title {
    margin: 0 auto;
    margin-top: 30px;
    width: 360px;
}

#app .app-title .logo-img {
    width: 100%
}


/* .app-section-calculate 스타일링 ----------------------------------------  */

#app .app-section-calculate {
    padding: 31px 27px 28px;
    background-color: white;
}

.app-section-calculate .list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px
}

.app-section-calculate .list-item {
    height: 270px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rgb(244, 211, 185);
    background-color: rgb(243, 225, 211);
}

.app-section-calculate .list-item li {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.app-section-calculate .list-item li.sold-out::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
    background: no-repeat center/60px 46px url(../image/Sold_out.png) rgba(0, 0, 0, 0.8); /* 축약속성 */
}

.div-menu-img {
    border-radius: 10px 10px 5px 5px;
    margin: 5px;
    overflow: hidden;
}

.div-menu-name {
    border-radius: 10px 10px 5px 5px;
    padding: 5px;
    margin: 5px 5px 3px 5px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(221, 239, 246);
}

.div-menu-price {
    border-radius: 5px 5px 10px 10px;
    padding: 5px;
    margin: 3px 5px 5px 5px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(221, 239, 246);
}


/* 소지금, 입금, 반환 스타일 ---------------------------------------- */

.app-section-calculate .sub-section-calculate {
    margin-top: 20px;
    padding: 10px;
    border: 5px solid rgb(243, 225, 211);
    border-radius: 10px;
}

.app-section-calculate .sub-section-calculate .div-for-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin-top: 12px;
}

.sub-section-calculate .div-for-grid .balance-info,
.sub-section-calculate .div-for-grid .inp-put {
    grid-column: 1/3;
    border-radius: 5px;
}

.sub-section-calculate .div-for-grid .balance-info { 
    line-height: 25px; /* line-height 를 부모요소의 높이로 맞춰주면 세로정렬 */
}

.sub-section-calculate .btn-balance-return,
.sub-section-calculate .btn-input-money {
    height: 25px
}


/* .app-section-payment 스타일링 ---------------------------------------- */

#app .app-section-payment {
    padding: 31px 27px 28px;
    background-color: white;
}

.list-item-staged { /* 위 스타일 코드들에서 웬만하면 높이값들에 대한 설정을 안하고 있긴한데 이부분은 높이값 설정을 해야한다 왜냐하면 스크롤 때문이다. 높이 값을 설정을 안하면 원래는 자식들의 높이만큼 부모 컨테이너의 높이가 설정이 되잖아? 근데 얘는 그렇게 하면 안된다. 왜냐면 스크롤이 있기 때문에 높이값이 고정 되어야 그 안에서 높이가 변하지 않고 스크롤을 쓸 수 있기 때문이다. 그리고 클래스 명에서 .cont-buy 를 뺀 이유는 유아이상 오른쪽 부분의 리스트와 같이 적용되는 스타일 코드이기 때문이다. */
    /* display: block;  */
    height: 270px;
    padding: 10px;
    overflow-y: scroll; /* y축으로 overflow 되었을 때 스크롤을 명령하는 스타일 코드, 스크롤바 모양은 브라우저마다 다르고 운영체제마다 다르다. 스크롤 디자인을 바꾸는 css 는 아직 표준이 아니다. 불완전함 */
    border-radius: 10px;
    border: 5px solid rgb(244, 211, 185);
    background-color: rgb(243, 225, 211);
}

.list-item-staged li {
    border-radius: 10px;
    background-color: white;
    /* display: block; */
}

.list-item-staged li + li {
    margin-top: 10px;
}

.list-item-staged .btn-cancel {
    padding: 10px;
}

.list-item-staged .item-img,
.list-item-staged .item-name {
    float: left;
}

.list-item-staged .item-img {
    display: block;
    width: 50px; /* 꿀팁 : 수치는 가능한 한 짝수로 잡아주는 것이 좋다. 왜냐하면 나중에 수치를 둘로 나누거나 곱셈 할때도 계산이 편하기 떄문이다. */
    height: 50px;
    border-radius: 10px;
}

.list-item-staged .item-name {
    padding-left: 10px;
    line-height: 50px;
}

.list-item-staged .num-counter {
    float: right;
    /* num-counter 텍스트를 정렬하기 위함 */
    display: flex; 
    justify-content: center;
    align-items: center;
    /* num-counter 텍스트를 정렬하기 위함 */
    width: 50px;
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.app-section-payment .sub-section-payment {
    margin-top: 20px;
    padding: 10px;
    border: 5px solid rgb(243, 225, 211);
    border-radius: 10px;
}

.app-section-payment .sub-section-payment .div-btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin-top: 12px;
}

.sub-section-payment .btn-payment-decision,
.sub-section-payment .btn-open-modal,
.sub-section-payment .btn-all-reset {
    height: 62px;
}


/* 모달창 스타일 ---------------------------------------- */

#modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal .div-modal-wrapper {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    border: 10px solid rgb(240, 70, 70);
    border-radius: 30px;

    padding: 20px;
    background-color: white;
}


/* 모달창 리스트 스타일 ---------------------------------------- */

#modal .div-modal-wrapper .list-item-staged {
    width: 100%;
    height: 60%;
    border-radius: 20px;
    border: 5px solid orange;
}


#modal .div-modal-wrapper li {
    height: 30%;
    padding: 10px;
    background-color: white;
}


/* 모달창 정보 스타일 ---------------------------------------- */

.div-modal-info {
    margin-top: 10px;
    padding: 10px;
}

.order-date,
.order-number {
    margin-bottom: 5px;
}

.order-date {

}

.order-number {

}

.amount-payed {

}

#modal .div-for-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 10px;
}

.bar-code-img {
    grid-column: 1/3;
    width: 100%;
    height: 90px;
}

.btn-close-modal:active {
    border-radius: 5px;
    outline: 3px solid rgb(233, 89, 89);
}

.btn-close-modal {
    display: block;
    width: 100%;
    margin: 10px 30px 10px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}



 